/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.website-bg {
  position:fixed; 
  top:0; 
  left:0; 
  bottom:0; 
  right:0; 
  width:100%; 
  height:100%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden;
  z-index: -1;
}
body {
  background: #ececed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #1DAFED;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.expanded-chatbot {
  position: relative;
  top: 0px;
  padding: 30px;
  margin-bottom: 50px;
  height: 92vh;
  overflow-y: auto;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 13px 0;
  position: relative;
  color: #fff;
  background: black;
}
.chatbot header h2, .expanded-chatbot header h2 {
  padding-left: 55px;
  text-align: left;
}
.expanded-chatbot header h2 {
  padding-bottom: 30px;
}
.chatbot header span {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.chatbot header span:nth-of-type(1) {
  left: 18px;
  transform: translateY(-50%);
}
.chatbot header span:nth-of-type(2) {
  right: 36px;
  transform: translateY(-90%);
}
.chatbot header span:nth-of-type(3) {
  right: 12px;
  transform: translateY(-50%);
}

header h2 {
  font-size: 1rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 450px;
  padding: 20px 20px;
  margin-bottom: 60px;
}
:where(.chatbox, .chat-input textarea, .expanded-chatbot)::-webkit-scrollbar {
  width: 6px;
}
:where(.chatbox, .chat-input textarea, .expanded-chatbot)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
:where(.chatbox, .chat-input textarea, .expanded-chatbot)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming .material-symbols-outlined {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #1DAFED;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 9px 12px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.9rem;
  background: #1DAFED;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
  color: #000;
  background: #f2f2f2;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chat-input {
  display: flex;
  gap: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.9rem;
}
.send-btn {
  cursor: pointer;
}
#chat-send {
  align-self: flex-end;
  color: #1DAFED;
  height: 55px;
  display: flex;
  align-items: center;
}
#expanded-chat-send {
  color: white;
  padding: 2px 4px;
  font-size: 1.3rem;
}
#terminate {
  color: white;
  padding: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-left: 1px solid white;
}
.icons-container {
  align-self: flex-end;
  display: flex;
  margin: 14px 0px;
  align-items: center;
  background-color: #1DAFED;
  border-radius: 5px;
}

.chatbox .incoming .typing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7px;
  padding: 9px 16px;
}

.chatbox .incoming .typing span {
  text-align: center;
  margin: auto;
  content: '';
  animation: blink 1.3s infinite;
  animation-fill-mode: both;
  height: 10px;
  width: 10px;
  background: black;
  border-radius: 50%;
}
.chatbox .incoming .typing span:nth-child(2) {
  animation-delay: .2s;
}
.chatbox .incoming .typing span:nth-child(3) {
  animation-delay: .4s;
}

.chat-img {
  display: block;
  width: 95%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: zoom-in;
}
.chat-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 95%;
}
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 15px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 996;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 995;
}

#zoom-checkbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-img {
  z-index: 997;
  height: 85vmin;
  position: absolute;
}

.hidden {
  display: none;
}

.btn-close {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0.5rem 0.5rem;
  color: white;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
}

.material-symbols-rounded.btn-close {
  font-size: 30px;
  font-weight: bold;
}

.feedback-container {
  position: relative;
  padding-top: 3px;
  padding-left: 3px;
}

.thumbs-button {
  border: none;
  background: none;
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

.thumbs-button .material-symbols-rounded {
  font-size: 14px;
  color: #cacaca;
  padding: 1px 2px;
}

.thumbs-button .material-symbols-rounded:hover {
  color: #929292;
}

.material-symbols-rounded.clicked {
  color: #929292;
}

.feedback-popup-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 993;
}

.feedback-popup-box {
  position: fixed;
  padding: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80%, 400px);
  border-radius: 10px;
  background-color: white;
  z-index: 994;
}

.feedback-popup-box h4 {
  padding: 0px 4px 12px 4px;
}

.feedback-popup-box .material-symbols-outlined.close {
  float: right;
  font-weight: bold;
  font-size: 17px;
  padding-top: 4px;
  cursor: pointer;
}

.feedback-popup-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feedback-popup-box textarea {
  resize: none;
  width: 100%;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
}

.feedback-popup-box textarea:focus {
  outline: 1px solid black;
}

.feedback-checkbox {
  margin: 3px 0px;
  font-size: 14px;
}

.feedback-checkbox input[type=checkbox] {
  vertical-align: middle;
  margin-right: 8px;
}

.feedback-popup-box input[type=submit] {
  margin-top: 10px;
  padding: 6px 0px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #1DAFED;
  cursor: pointer;
  width: 100%;
}

.ratings-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 3px 10px;
}

.ratings-container .material-symbols-sharp.star {
  font-size: 37px;
  font-variation-settings:
  'FILL' 0,
  'wght' 110,
  'GRAD' 50,
  'opsz' 24;
  cursor: pointer;
}

.ratings-container input[type=radio] {
  display: none;
}

.ratings-container input[type=radio]:checked ~ label > .material-symbols-sharp.star {
  font-variation-settings:
  'FILL' 1;
  color: rgb(240, 181, 1);
}

.ratings-container input[type=radio]:hover ~ label > .material-symbols-sharp.star {
  font-variation-settings:
  'FILL' 1;
  color: rgb(240, 181, 1);
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}