{% extends "base.html" %}
{% block title %}Asiga Support Chatbot{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
{{ super() }}
<iframe class="website-bg" src="https://support.asiga.com/">
  Your browser doesn't support iframes
</iframe>

<button class="chatbot-toggler">
  <span class="material-symbols-rounded">mode_comment</span>
  <span class="material-symbols-outlined">expand_more</span>
</button>

<div class="chatbot">
  <header>
    <h2>Asiga Support Chatbot</h2>
    <span class="expand-btn material-symbols-outlined">open_in_new</span>
    <span class="minimise-btn material-symbols-outlined">minimize</span>
    <span class="terminate-btn material-symbols-outlined">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there 👋 I'm Alex<br>How can I help you today?</p>
    </li>
  </ul>

  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
    <span id="chat-send" class="send-btn material-symbols-rounded">send</span>
  </div>

</div>
{% endblock %}
